/*
Please create a `fonts` folder in the `public` folder then add the font files there.

Example usage:

@font-face {
  font-family: "proxima_nova";
  src: url("/fonts/proxima_nova_regular-webfont.woff2") format("woff2"),
    url("proxima_nova_regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
	font-display: swap;
}

*/

@font-face {
	font-family: 'atomic';
	src: url('/fonts/aatomicmd-webfont.woff2') format('woff2'),
			 url('/fonts/aatomicmd-webfont.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'cocogoose';
	src: url('/fonts/cocogoose_pro_thin_italic-trial-webfont.woff2') format('woff2'),
			 url('/fonts/cocogoose_pro_thin_italic-trial-webfont.woff') format('woff');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'cocogoose';
	src: url('/fonts/cocogoose_pro_thin-trial-webfont.woff2') format('woff2'),
			 url('/fonts/cocogoose_pro_thin-trial-webfont.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'cocogoose';
	src: url('/fonts/cocogoose_pro_ultralight-trial-webfont.woff2') format('woff2'),
			 url('/fonts/cocogoose_pro_ultralight-trial-webfont.woff') format('woff');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'cocogoose';
	src: url('/fonts/cocogoose_pro_ultralight_italic-trial-webfont.woff2') format('woff2'),
			 url('/fonts/cocogoose_pro_ultralight_italic-trial-webfont.woff') format('woff');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'cocogoose';
	src: url('/fonts/cocogoose_pro_light-trial-webfont.woff2') format('woff2'),
			 url('/fonts/cocogoose_pro_light-trial-webfont.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'cocogoose';
	src: url('/fonts/cocogoose_pro_light_italic-trial-webfont.woff2') format('woff2'),
			 url('/fonts/cocogoose_pro_light_italic-trial-webfont.woff') format('woff');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'cocogoose';
	src: url('/fonts/cocogoose_pro_semilight_italic-trial-webfont.woff2') format('woff2'),
			 url('/fonts/cocogoose_pro_semilight_italic-trial-webfont.woff') format('woff');
	font-weight: 350;
	font-style: italic;
}

@font-face {
	font-family: 'cocogoose';
	src: url('/fonts/cocogoose_pro_semilight-trial-webfont.woff2') format('woff2'),
			 url('/fonts/cocogoose_pro_semilight-trial-webfont.woff') format('woff');
	font-weight: 350;
	font-style: normal;
}

@font-face {
	font-family: 'cocogoose';
	src: url('/fonts/cocogoose_pro-trial-webfont.woff2') format('woff2'),
			 url('/fonts/cocogoose_pro-trial-webfont.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'cocogoose';
	src: url('/fonts/cocogoose_pro_italic-trial-webfont.woff2') format('woff2'),
			 url('/fonts/cocogoose_pro_italic-trial-webfont.woff') format('woff');
	font-weight: 400;
	font-style: italic;
}
