---

---

<div class="relative h-full">
	<img src="/img/bg-hero-inner-page.png" class="inset-0 absolute object-cover h-full w-full z-10" alt="bg hero">
	<div class="z-20 bg-gradient-to-r from-white w-full h-full absolute inset-0"></div>
	<div class="container relative z-30 py-36 text-center">
		<h1 class="font-cocogoose text-brand-primary text-7xl">About Us</h1>
	</div>
</div>

<div class="relative bg-[#fbfcfc]">
	<img src="/img/bg-wave.png" class="absolute inset-x-0 top-24 z-10 h-auto scale-x-[-1]" alt="background wave">
	<div class="container py-28 relative z-30">
		<h3 class="font-atomic text-brand-black text-[56px] uppercase text-center">Faq</h3>
		<div class="pt-20 w-[94%] mx-auto">
			<div class="bg-white rounded-2xl shadow-[0_3px_10px_rgb(0,0,0,0.2)] pt-20 2xl:pt-24 pl-20 2xl:pl-24 pb-28 2xl:pb-32 pr-32 2xl:pr-40">
				<div class="border-b border-[#efeff0] py-4">
					<div class="flex gap-5 justify-between items-center">
						<span class="font-roboto text-brand-black font-medium text-xl">What's the difference between maste and slave?</span>
						<span class="text-[#eb7d22] font-roboto text-3xl inline-block">x</span>
					</div>
					<p class="pt-6 font-roboto text-[#636465] text-lg">as a master user the files you read are clear. this gives you the option to work with multiple file providers, or even do the tuning yourself. as a slave only your master will be able to decrypt your files. that means you are bunded to work with one file provider.</p>
				</div>
				<div class="border-b border-[#efeff0] py-4">
					<div class="flex gap-5 justify-between items-center">
						<span class="font-roboto text-brand-black font-medium text-xl">Can I upgrade my slave tool to master?</span>
						<span class="text-[#eb7d22] font-roboto text-3xl inline-block">+</span>
					</div>
				</div>
				<div class="border-b border-[#efeff0] py-4">
					<div class="flex gap-5 justify-between items-center">
						<span class="font-roboto text-brand-black font-medium text-xl">What's the difference between maste and slave?</span>
						<span class="text-[#eb7d22] font-roboto text-3xl inline-block">+</span>
					</div>
				</div>
				<div class="border-b border-[#efeff0] py-4">
					<div class="flex gap-5 justify-between items-center">
						<span class="font-roboto text-brand-black font-medium text-xl">How do I set up the program?</span>
						<span class="text-[#eb7d22] font-roboto text-3xl inline-block">+</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="bg-brand-primary">
	<div class="container pt-24 pb-32">
		<h3 class="font-atomic text-white text-[56px] text-center">Contact</h3>
		<form class="pt-20 max-w-[862px] mx-auto space-y-3">
			<div class="flex gap-5">
				<input type="text" placeholder="First Name" class="bg-white rounded-lg px-5 py-2.5 w-1/2 font-roboto text-2xl text-brand-black placeholder-brand-black">
				<input type="text" placeholder="Last Name" class="bg-white rounded-lg px-5 py-2.5 w-1/2 font-roboto text-2xl text-brand-black placeholder-brand-black">
			</div>
			<input type="text" placeholder="Company Name" class="bg-white rounded-lg px-5 py-2.5 w-full font-roboto text-2xl text-brand-black placeholder-brand-black">
			<input type="email" placeholder="Email Address" class="bg-white rounded-lg px-5 py-2.5 w-full font-roboto text-2xl text-brand-black placeholder-brand-black">
			<div class="flex gap-5">
				<div class="bg-white rounded-lg px-5 py-2.5 w-1/3 font-roboto text-2xl text-brand-black placeholder-brand-black">
					<select name="country" id="country" class="w-full">
						<option value="country">Country</option>
						<option value="country">Spain</option>
						<option value="country">Peru</option>
						<option value="country">USA</option>
					</select>
				</div>
				<input type="text" placeholder="Phone Number" class="bg-white rounded-lg px-5 py-2.5 w-2/3 font-roboto text-2xl text-brand-black placeholder-brand-black">
			</div>
			<textarea name="message" id="message" cols="30" rows="7" placeholder="Your Message" class="bg-white rounded-lg px-5 py-2.5 w-full font-roboto text-2xl text-brand-black placeholder-brand-black"></textarea>
			<div class="flex justify-center">
				<button class="text-white bg-brand-secondary text-[34px] 2xl:text-[37px] -tracking-[1.48px] px-40 py-3 rounded-full inline-block mt-14 2xl:mt-16">Send</button>
			</div>
		</form>
	</div>
</div>
