---

---

<div class="relative h-full">
	<img src="/img/bg-hero-inner-page.png" class="inset-0 absolute object-cover h-full w-full z-10" alt="bg hero">
	<div class="z-20 bg-gradient-to-r from-white w-full h-full absolute inset-0"></div>
	<div class="container relative z-30 py-52 2xl:py-60">
		<div class="2xl:w-5/6 mx-auto flex justify-center items-center gap-20">
			<img src="/img/icon-flag.png" alt="icon flag">
			<h1 class="font-cocogoose text-brand-primary text-7xl">Complete your booking</h1>
		</div>
	</div>
</div>

<div class="bg-brand-primary relative">
	<img src="/img/wave-red.png" class="absolute inset-x-0 top-28 2xl:top-14 z-10 h-auto w-full" alt="background wave red">
	<div class="container pt-28 pb-36 relative z-30">
		<h3 class="font-atomix text-white text-[56px] text-center">Choose your product</h3>
		<div class="pt-20 flex justify-center gap-24">
				<div class="bg-[#ececec] rounded-[2rem] px-20 pb-8 pt-24 w-[298px]">
					<img src="/img/icon-course.png" class="h-[76px] mx-auto" alt="icon course">
					<span class="block pt-14 font-atomic text-brand-primary text-3xl">Courses</span>
				</div>
				<div class="bg-brand-secondary rounded-[2rem] px-20 pb-8 pt-24 w-[298px] relative">
					<img src="/img/icon-check.png" class="absolute top-7 left-7" alt="icon check">
					<img src="/img/icon-package.png" class="h-[100px] mx-auto" alt="icon package">
					<span class="block pt-10 font-atomic text-brand-primary text-3xl">Packages</span>
				</div>
		</div>
	</div>
</div>

<div class="bg-[#fbfbfc]">
	<div class="container py-24">
		<h3 class="pb-7 font-atomix text-brand-black text-[56px] text-center">Available Dates</h3>
		<div>
			<img src="/img/calendar-image.png" class="mx-auto" alt="calendar image">
		</div>
	</div>
</div>

<div class="bg-gradient-radial from-[#edeeee] to-[#fbfbfc]">
	<div class="container pt-20 pb-48">
		<h3 class="font-atomic text-brand-black text-[56px] text-center">Your Details</h3>
		<form class="pt-12 max-w-[862px] mx-auto space-y-3">
			<div class="flex gap-5">
				<input type="text" placeholder="First Name" class="bg-white rounded-lg px-5 py-2.5 w-1/2 font-roboto text-2xl text-brand-black placeholder-brand-black">
				<input type="text" placeholder="Last Name" class="bg-white rounded-lg px-5 py-2.5 w-1/2 font-roboto text-2xl text-brand-black placeholder-brand-black">
			</div>
			<input type="text" placeholder="Company Name" class="bg-white rounded-lg px-5 py-2.5 w-full font-roboto text-2xl text-brand-black placeholder-brand-black">
			<input type="email" placeholder="Email Address" class="bg-white rounded-lg px-5 py-2.5 w-full font-roboto text-2xl text-brand-black placeholder-brand-black">
			<div class="flex gap-5">
				<div class="bg-white rounded-lg px-5 py-2.5 w-1/3 font-roboto text-2xl text-brand-black placeholder-brand-black">
					<select name="country" id="country" class="w-full">
						<option value="country">Country</option>
						<option value="country">Spain</option>
						<option value="country">Peru</option>
						<option value="country">USA</option>
					</select>
				</div>
				<input type="text" placeholder="Phone Number" class="bg-white rounded-lg px-5 py-2.5 w-2/3 font-roboto text-2xl text-brand-black placeholder-brand-black">
			</div>
			<textarea name="message" id="message" cols="30" rows="7" placeholder="Your Message" class="bg-white rounded-lg px-5 py-2.5 w-full font-roboto text-2xl text-brand-black placeholder-brand-black"></textarea>
			<div class="flex justify-center">
				<button class="text-white bg-brand-secondary text-[34px] 2xl:text-[37px] -tracking-[1.48px] px-40 py-3 rounded-full inline-block mt-14 2xl:mt-16">Book Now</button>
			</div>
		</form>
	</div>
</div>
