---

---

<div class='pb-40 relative bg-[#fbfcfc]'>
	<img
		src='/img/bg-home-hero.png'
		class='absolute inset-x-0 top-0 h-auto z-20'
		alt='bg-hero'
	/>
	<div class='container pt-32 relative z-30'>
		<div class='flex items-end gap-14'>
			<div>
				<div class='flex gap-12 items-center'>
					<div>
						<img
							src='/img/icon-hat.png'
							class='h-28 2xl:h-36'
							alt='icon hat'
						/>
					</div>
					<div>
						<h1
							class='text-brand-primary text-5xl/[60px] 2xl:text-6xl/[70px] font-cocogoose font-light -tracking-[2.6px]'>
							Professional <br />
							<span class='font-[400]'>WinOLS Training</span>
						</h1>
					</div>
				</div>
				<span class='pt-14 font-roboto text-brand-black text-xl block'
					>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincid-unt ut laoreet
					dolore magna aliquam erat volutpat. Ut wisi ebnmodo consequat.</span
				>
				<a
					href='/'
					class='text-white bg-brand-secondary text-[34px] 2xl:text-[37px] -tracking-[1.48px] px-28 py-3 rounded-3xl inline-block mt-14 2xl:mt-16'
					>Choose your course</a
				>
			</div>
			<div class='h-auto shrink-0'>
				<img
					src='/img/hero-illustration.png'
					class='h-80 2xl:h-96'
					alt='panel illustration'
				/>
			</div>
		</div>
		<div class='flex items-center gap-24 2xl:gap-52 pt-[13rem] 2xl:pt-[18rem]'>
			<div class='shrink-0'>
				<img
					src='/img/team-circle.png'
					class='h-[27rem] w-auto'
					alt='team image'
				/>
			</div>
			<div>
				<h2 class='text-brand-primary text-[42px]/[54px] 2xl:text-5xl/[60px] font-cocogoose -tracking-[2.6px]'>
					WinOLS Introduction <br /> & Database usage
				</h2>
				<p class='pt-14 font-roboto text-brand-black text-2xl block'>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
					magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.
				</p>
				<a
					href='/'
					class='bg-brand-primary rounded-full text-white text-4xl font-roboto mt-16 py-3 inline-flex items-center gap-16 pr-8 pl-32'>
					Book Now
					<span class='text-7xl font-cocogoose text-brand-secondary'>+</span>
				</a>
			</div>
		</div>
	</div>
</div>

<div class='relative'>
	<img
		src='/img/bg-advanced-training.png'
		class='absolute inset-x-0 bottom-0 w-full h-full object-cover z-20'
		alt='background advanced training'
	/>
	<div class='container py-36 relative z-30'>
		<div class='flex items-center gap-60 2xl:gap-72'>
			<div>
				<h2 class='text-brand-primary text-[42px]/[54px] 2xl:text-5xl/[60px] font-cocogoose -tracking-[2.6px]'>
					WinOLS Advanced Training
				</h2>
				<span class='pt-14 font-roboto text-brand-black text-xl block'
					>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
					magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.
				</span>
				<a
					href='/'
					class='text-white bg-brand-secondary text-[34px] 2xl:text-[37px] -tracking-[1.48px] px-28 py-3 rounded-3xl inline-block mt-14 2xl:mt-16'
					>Choose your course</a
				>
			</div>
			<div class='h-auto shrink-0 mr-16 2xl:mr-48'>
				<img
					src='/img/teacher-illustration.png'
					class='h-[29rem] 2xl:h-[32rem]'
					alt='teacher illustration'
				/>
			</div>
		</div>
	</div>
</div>

<div class='relative bg-[#fbfcfc'>
	<img
		src='/img/bg-wave.png'
		class='absolute inset-x-0 bottom-0 z-20 h-auto'
		alt='background wave'
	/>
	<div class='container 2xl:px-20 pt-36 pb-56 2xl:pb-80 relative z-30'>
		<div class='flex items-start gap-56 2xl:gap-76'>
			<div class='shrink-0 ml-24'>
				<img
					src='/img/person-with-hat.png'
					class='h-64 w-auto'
					alt='person with hat'
				/>
			</div>
			<div>
				<h2 class='text-brand-primary text-[42px]/[54px] 2xl:text-5xl/[60px] font-cocogoose -tracking-[2.6px]'>
					Datalogging basics
				</h2>
				<p class='pt-10 font-roboto text-brand-black text-2xl block'>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
					magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.
				</p>
				<a
					href='/'
					class='bg-brand-primary rounded-full text-white text-4xl font-roboto mt-12 py-3 inline-flex items-center gap-16 pr-8 pl-32'>
					Book Now
					<span class='text-7xl font-cocogoose text-brand-secondary'>+</span>
				</a>
			</div>
		</div>
	</div>
</div>

<div class='bg-gradient-radial from-[#edeeee] to-[#fbfbfc]'>
	<div class='pt-32 pb-44 container'>
		<div class='flex gap-24 2xl:gap-40'>
			<div class='w-2/5'>
				<div class='flex gap-11 items-center'>
					<div>
						<img
							src='/img/icon-online.png'
							class=''
							alt='icon online'
						/>
					</div>
					<h2 class='text-brand-primary text-[42px]/[54px] 2xl:text-5xl/[60px] font-cocogoose -tracking-[2.6px]'>
						Online Training
					</h2>
				</div>
				<p class='pt-10 font-roboto text-brand-black text-2xl block'>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
					magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.
				</p>
				<ul class='list-disc list-inside py-12 space-y-2'>
					<li class='text-brand-gray text-2xl -tracking-[0.88px]'>Lorem ipsum dolor sit amet, consectetur</li>
					<li class='text-brand-gray text-2xl -tracking-[0.88px]'>Lorem ipsum dolor sit amet</li>
				</ul>
				<a
					href='/'
					class='text-white bg-brand-secondary text-[34px] 2xl:text-[37px] -tracking-[1.48px] px-28 py-3 rounded-3xl inline-block'
					>Subscribe Now</a
				>
			</div>
			<div class='w-1/2 bg-brand-primary pt-8 2xl:pt-10 p-10 2xl:p-12'>
				<div class='flex items-center gap-3 justify-between pb-5'>
					<span class='text-white text-4xl font-cocogoose'>Introduction</span>
					<a
						href='/'
						class='flex items-center gap-4 text-white font-roboto text-2xl'>
						<span class='font-cocogoose text-brand-secondary text-7xl'>+</span>
						 View More</a
					>
				</div>
				<div>
					<img
						src='/img/video-image.png'
						alt='video image'
					/>
				</div>
				<div class='pt-7'>
					<p class='font-roboto text-[#cfcecd] text-3xl -tracking-[1.17px]'>Lorem ipsum dolor sit amet, consectetur</p>
					<p class='font-roboto text-[#cfcecd] text-3xl -tracking-[1.17px]'>
						adipiscing elit, sed do eiusmod tempor incididunt
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
