---

---

<div class="relative bg-[#fbfcfc]">
	<img src="/img/bg-wave.png" class="absolute inset-x-0 top-96 z-10 h-auto scale-x-[-1]" alt="background wave">
	<div class="container py-24 relative z-30">
		<h1 class="font-cocogoose text-brand-primary text-8xl 2xl:text-[119px] uppercase text-center -tracking-[4.75px]">News</h1>
		<div class="pt-20 max-w-[870px] mx-auto">
			<h2 class="font-atomic text-brand-black text-[56px] pb-3">Headline Video</h2>
			<span>
				<img src="/img/news-01.png" class="w-full object-cover" alt="news image">
			</span>
			<div class="flex gap-3.5 mt-14">
				<span class="block font-roboto text-lg text-[#393939] px-12 py-2.5 bg-[#f0f0ef] rounded-full">Special offers</span>
				<span class="block font-roboto text-lg text-[#393939] px-12 py-2.5 bg-brand-secondary rounded-full">New Centers</span>
				<span class="block font-roboto text-lg text-[#393939] px-12 py-2.5 bg-brand-secondary rounded-full">New Protocols</span>
				<span class="block font-roboto text-lg text-[#393939] px-12 py-2.5 bg-[#f0f0ef] rounded-full">Special offers</span>
			</div>
		</div>
		<div class="pt-32 space-y-10">
			<div class="bg-[#f5f5f5] rounded-xl p-14 2xl:px-20 2xl:py-16 flex gap-9">
				<a href="/post" class="block w-[32%]">
					<img src="/img/news-01.png" alt="news image">
				</a>
				<div class="w-3/4">
					<div class="flex items-start justify-between gap-4">
						<a href="/post" class="font-atomic text-3xl text-brand-black max-w-[600px]">Neque porro quisquam est qui dolorem</a>
						<span class="flex items-center gap-2 font-roboto text-[#302f2f] text-lg 2xl:text-xl 2xl:pt-1 shrink-0">
							<img src="/img/icon-offer.png" alt="icon offer">
							Special offers
						</span>
						<h3 class="font-roboto text-xl text-brand-black">12/12/23</h3>
					</div>
					<span class="block pt-7 w-3/4">
						<p class="font-roboto text-brand-black text-lg -tracking-[0.72px] ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
					</span>
					<div class="flex justify-end pt-2">
						<a href="/post" class="-tracking-[1.24px] text-3xl font-roboto font-bold text-white bg-brand-primary py-2 px-12 rounded-full">Read More</a>
					</div>
				</div>
			</div>
			<div class="bg-[#f5f5f5] rounded-xl p-14 2xl:px-20 2xl:py-16 flex gap-9">
				<a href="/post" class="block w-[32%]">
					<img src="/img/news-01.png" alt="news image">
				</a>
				<div class="w-3/4">
					<div class="flex items-start justify-between gap-4">
						<a href="/post" class="font-atomic text-3xl text-brand-black max-w-[600px]">Neque porro quisquam est qui dolorem</a>
						<span class="flex items-center gap-2 font-roboto text-[#302f2f] text-lg 2xl:text-xl 2xl:pt-1 shrink-0">
							<img src="/img/icon-new.png" alt="icon new">
							New Centers
						</span>
						<h3 class="font-roboto text-xl text-brand-black">12/12/23</h3>
					</div>
					<span class="block pt-7 w-3/4">
						<p class="font-roboto text-brand-black text-lg -tracking-[0.72px] ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
					</span>
					<div class="flex justify-end pt-2">
						<a href="/post" class="-tracking-[1.24px] text-3xl font-roboto font-bold text-white bg-brand-primary py-2 px-12 rounded-full">Read More</a>
					</div>
				</div>
			</div>
			<div class="bg-[#f5f5f5] rounded-xl p-14 2xl:px-20 2xl:py-16 flex gap-9">
				<a href="/post" class="block w-[32%]">
					<img src="/img/news-01.png" alt="news image">
				</a>
				<div class="w-3/4">
					<div class="flex items-start justify-between gap-4">
						<a href="/post" class="font-atomic text-3xl text-brand-black max-w-[600px]">Neque porro quisquam est qui dolorem</a>
						<span class="flex items-center gap-2 font-roboto text-[#302f2f] text-lg 2xl:text-xl 2xl:pt-1 shrink-0">
							<img src="/img/icon-offer.png" alt="icon offer">
							Special offers
						</span>
						<h3 class="font-roboto text-xl text-brand-black">12/12/23</h3>
					</div>
					<span class="block pt-7 w-3/4">
						<p class="font-roboto text-brand-black text-lg -tracking-[0.72px] ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
					</span>
					<div class="flex justify-end pt-2">
						<a href="/post" class="-tracking-[1.24px] text-3xl font-roboto font-bold text-white bg-brand-primary py-2 px-12 rounded-full">Read More</a>
					</div>
				</div>
			</div>
		</div>
		<div class="flex justify-center mt-24">
			<a href="/post" class="text-white bg-brand-secondary font-bold font-roboto text-3xl -tracking-[1.24px] px-14 py-2.5 rounded-2xl inline-block">Load more</a>
		</div>
	</div>
</div>
