---

---

<div class="bg-gradient-to-r from-white via-[#f5f6f7] to-white pt-44 pb-52">
	<div class="container">
		<div class="w-[90%] mx-auto flex gap-28">
			<span class="shrink-0">
				<img src="/img/icon-packages.png" class="w-72 h-72" alt="icon packages">
			</span>
			<div>
				<h1 class="text-brand-primary font-cocogoose text-7xl">Packages</h1>
				<span class='pt-9 w-[90%] block'>
					<p class="font-roboto text-brand-black text-xl">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincid-unt ut laoreet
						dolore magna aliquam erat volutpat. Ut wisi ebnmodo consequat.</p>
				</span>
				<a
					href='/'
					class='text-white bg-brand-secondary text-[34px] 2xl:text-[37px] -tracking-[1.48px] px-28 py-3 rounded-3xl inline-block mt-12'
					>Discover Packages</a
				>
			</div>
		</div>
	</div>
</div>

<div class="bg-brand-primary pb-16 pt-32 relative">
	<img
		src='/img/wave-red.png'
		class='absolute inset-x-0 top-60 z-10 h-auto w-full'
		alt='background wave red'
	/>
	<div class="container z-30 relative">
		<h3 class='font-atomic text-white text-[56px] text-center'>Packages</h3>
		<div class="pt-24 2xl:pt-28 pb-28 2xl:pb-36 flex items-center gap-8">
			<div class="rounded-[35px] bg-[#f2f2f2] p-12 2xl:p-14">
				<span class="text-brand-black font-atomic text-4xl text-center block">Packages 1</span>
				<div class="pt-14">
					<img src="/img/icon-packages.png" class="mx-auto h-40 w-auto" alt="icon packages">
				</div>
				<ul class='list-disc pt-12 space-y-2'>
					<li class='text-brand-black text-[22px] 2xl:text-2xl -tracking-[0.88px]'>Lorem ipsum dolor sit amet,</li>
					<li class='text-brand-black text-[22px] 2xl:text-2xl -tracking-[0.88px]'>Lorem ipsum dolor sit amet</li>
					<li class='text-brand-black text-[22px] 2xl:text-2xl -tracking-[0.88px]'>diam nonummy nibh euismod tincidunt </li>
				</ul>
			<div class="flex justify-center mt-11">
				<a href="/" class="font-cocogoose text-brand-black text-xl bg-brand-secondary py-2.5 px-9 rounded-full inline-block">Learn More</a>
			</div>
			</div>
			<div class="rounded-[35px] bg-white p-14 relative">
				<img src="/img/icon-star.png" class="absolute top-9 2xl:top-8 right-5 2xl:right-8" class="h-8 2xl:h-14" alt="icon star">
				<span class="text-brand-black font-atomic text-4xl text-center block">Packages 2</span>
				<div class="pt-9">
					<img src="/img/icon-packages.png" class="mx-auto h-60 2xl:h-64 w-auto" alt="icon packages">
				</div>
				<ul class='list-disc pt-12 space-y-2'>
					<li class='text-brand-black text-[22px] 2xl:text-2xl -tracking-[0.88px]'>Lorem ipsum dolor sit amet,</li>
					<li class='text-brand-black text-[22px] 2xl:text-2xl -tracking-[0.88px]'>consectetuer adipiscing elit, sed </li>
					<li class='text-brand-black text-[22px] 2xl:text-2xl -tracking-[0.88px]'>diam nonummy nibh euismod tincidunt </li>
				</ul>
			<div class="flex justify-center mt-16">
				<a href="/" class="font-cocogoose text-brand-black text-xl bg-brand-secondary py-2.5 px-9 rounded-full inline-block">Learn More</a>
			</div>
			</div>
			<div class="rounded-[35px] bg-[#f2f2f2] p-14">
				<span class="text-brand-black font-atomic text-4xl text-center block">Packages 3</span>
				<div class="pt-14">
					<img src="/img/icon-packages.png" class="mx-auto h-40 w-auto" alt="icon packages">
				</div>
				<ul class='list-disc pt-12 space-y-2'>
					<li class='text-brand-black text-[22px] 2xl:text-2xl -tracking-[0.88px]'>Lorem ipsum dolor sit amet,</li>
					<li class='text-brand-black text-[22px] 2xl:text-2xl -tracking-[0.88px]'>consectetuer adipiscing elit, sed </li>
					<li class='text-brand-black text-[22px] 2xl:text-2xl -tracking-[0.88px]'>diam nonummy nibh euismod tincidunt </li>
				</ul>
			<div class="flex justify-center mt-11">
				<a href="/" class="font-cocogoose text-brand-black text-xl bg-brand-secondary py-2.5 px-9 rounded-full inline-block">Learn More</a>
			</div>
			</div>
		</div>
		<span class="flex justify-center">
			<img src="/img/icon-dots.png" class="" alt="icon dots">
		</span>
	</div>
</div>

<div class="bg-[#fbfcfc]">
	<div class="container">
		<div class="py-32 flex items-end gap-60">
			<div>
				<div class="flex items-center gap-9 pb-16">
					<span>
						<img src="/img/icon-packages-light.png" class="h-28" alt="icon packages light">
					</span>
					<span class="text-brand-black font-atomic text-4xl">Packages 1</span>
				</div>
				<p class="font-roboto text-brand-black text-2xl -tracking-[0.96px]">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi ebnmodo consequat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis </p>
				<ul class='list-disc list-inside pt-12 space-y-7'>
					<li class='text-brand-gray text-2xl -tracking-[0.88px]'>Lorem ipsum dolor sit amet, consectetur</li>
					<li class='text-brand-gray text-2xl -tracking-[0.88px]'>Lorem ipsum dolor sit amet</li>
				</ul>
			</div>
			<div class="shrink-0">
				<span>
					<img src="/img/logo-training-01.png" class="w-full" alt="logo training">
				</span>
				<a href="/" class="font-cocogoose text-brand-black text-xl bg-brand-secondary py-2 px-9 rounded-full mt-4 inline-block">Call to Action</a>
			</div>
		</div>
	</div>
</div>

<div class="bg-[#f0f0ef]">
	<div class="container">
		<div class="py-32 flex items-end gap-60">
			<div>
				<div class="flex items-center gap-9 pb-16">
					<span>
						<img src="/img/icon-packages-light.png" class="h-28" alt="icon packages light">
					</span>
					<span class="text-brand-black font-atomic text-4xl flex items-center gap-14">Packages 2 <img src="/img/icon-star.png" class="h-14" alt="icon star"></span>
				</div>
				<p class="font-roboto text-brand-black text-2xl -tracking-[0.96px]">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi ebnmodo consequat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis </p>
				<ul class='list-disc list-inside pt-12 space-y-7'>
					<li class='text-brand-gray text-2xl -tracking-[0.88px]'>Lorem ipsum dolor sit amet, consectetur</li>
					<li class='text-brand-gray text-2xl -tracking-[0.88px]'>Lorem ipsum dolor sit amet</li>
				</ul>
			</div>
			<div class="shrink-0">
				<span>
					<img src="/img/logo-training-02.png" class="w-full" alt="logo training">
				</span>
				<a href="/" class="font-cocogoose text-brand-black text-xl bg-brand-secondary py-2 px-9 rounded-full mt-4 inline-block">Call to Action</a>
			</div>
		</div>
	</div>
</div>

<div class='relative bg-[#fbfcfc]'>
	<img
		src='/img/bg-wave.png'
		class='absolute inset-x-0 bottom-10 z-10 h-auto scale-x-[-1]'
		alt='background wave'
	/>
	<div class='container relative z-30'>
		<div class="py-32 flex items-end gap-60">
			<div>
				<div class="flex items-center gap-9 pb-16">
					<span>
						<img src="/img/icon-packages-light.png" class="h-28" alt="icon packages light">
					</span>
					<span class="text-brand-black font-atomic text-4xl">Packages 3</span>
				</div>
				<p class="font-roboto text-brand-black text-2xl -tracking-[0.96px]">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi ebnmodo consequat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis </p>
				<ul class='list-disc list-inside pt-12 space-y-7'>
					<li class='text-brand-gray text-2xl -tracking-[0.88px]'>Lorem ipsum dolor sit amet, consectetur</li>
					<li class='text-brand-gray text-2xl -tracking-[0.88px]'>Lorem ipsum dolor sit amet</li>
				</ul>
			</div>
			<div class="shrink-0">
				<span>
					<img src="/img/logo-training-03.png" class="w-full" alt="logo training">
				</span>
				<a href="/" class=" font-cocogoose text-brand-black text-xl bg-brand-secondary py-2 px-9 rounded-full mt-4 inline-block">Call to Action</a>
			</div>
		</div>
		<div class="flex gap-16 pt-32 pb-44">
			<div>
				<span class=" font-atomic text-brand-black text-3xl pb-4 block">
					Result Video 1
				</span>
				<span>
					<img src="/img/video-01.png" alt="video image">
				</span>
			</div>
			<div>
				<span class=" font-atomic text-brand-black text-3xl pb-4 block">
					Result Video 2
				</span>
				<span>
					<img src="/img/video-02.png" alt="video image">
				</span>
			</div>
			<div>
				<span class=" font-atomic text-brand-black text-3xl pb-4 block">
					Result Video 3
				</span>
				<span>
					<img src="/img/video-03.png" alt="video image">
				</span>
			</div>
		</div>
	</div>
</div>


