---

---

<div class='relative bg-[#fbfcfc]'>
	<img
		src='/img/bg-wave.png'
		class='absolute inset-x-0 top-52 2xl:top-60 z-10 h-auto scale-x-[-1]'
		alt='background wave'
	/>
	<div class='container py-28 relative z-30'>
		<div class='w-5/6 mx-auto'>
			<h1 class='font-atomic text-brand-black text-7xl 2xl:text-[88px]'>Video title</h1>
			<div class='pt-14'>
				<img
					src='/img/feature-image.png'
					class='w-full'
					alt='video image'
				/>
				<div
					class='prose max-w-[866px] prose-p:text-3xl 2xl:prose-p:text-4xl prose-p:font-roboto prose-p:text-brand-black pt-20 prose-p:-tracking-[1.6px]'>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br />
						 sed do eiusmod tempor incididunt ut labore et dolore <br />
						 magna aliqua. Ut enim ad minim veniam, quis nostrud <br />
						 magna aliqua. Ut enim ad minim veniam, quis nostrud <br />
						 exercitation ullamco laboris nisi ut aliquip ex ea <br />
						 commodo consequat.
					</p>
				</div>
				<div class='flex justify-center mt-40'>
					<a
						href='/'
						class='text-white bg-brand-secondary text-3xl -tracking-[1.24px] px-14 py-2.5 rounded-2xl inline-block'
						>Load more</a
					>
				</div>
			</div>
		</div>
	</div>
</div>
