<div class="bg-brand-primary">
	<div class="container">
		<div class="flex items-center gap-10 justify-between">
			<a href="/" class="">
				<img src="/img/logo.png" class="h-60" alt="logo">
			</a>
			<ul class="2xl:pr-20 flex gap-10 2xl:gap-16">
				<li>
					<a href="/" class="font-roboto font-bold text-brand-secondary text-3xl">
						Courses
					</a>
				</li>
				<li>
					<a href="/" class="font-roboto text-white text-3xl">
						Packages
					</a>
				</li>
				<li>
					<a href="/" class="font-roboto text-white text-3xl">
						News
					</a>
				</li>
				<li>
					<a href="/" class="font-roboto text-white text-3xl">
						About
					</a>
				</li>
				<li>
					<a href="/" class="font-roboto text-white text-3xl">
						Contact
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
